*{
    margin: 0;
    padding: 0;
}


/*  --------------   *\
        Navbar
\*   -------------- */
.header-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    position:fixed;
    background: rgba(255,255,255,1);
    z-index: 2;
}

.header-nav-buttons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    font-family: 'Slabo 27px', serif;
    padding: 0;
}

.header-nav-buttons {
    margin: 0 15px;
    font-size: 1em;
    flex-grow: 1;
}

.header-nav-buttons-links {
    text-decoration: none;
    color: black;
}

.logo {
    height: 5em;
}

.header-nav-buttons-social {
    color: black;
    font-size: 1.5em
}

.nav-responsive {
    display: none;
}
/*RESPONSIVE NAV */

@media screen and (max-width: 415px) {
    .header-nav{
        display: none;
    }

    .main-content-container {
        margin:0;
        padding: 0;
    }
    #menu-deroulant, #menu-deroulant ul {
        padding: 15px;
        margin: 0;
        list-style: none;
    }
    #menu-deroulant {
        /* on centre le menu dans la page */
        text-align: center;
    }
    #menu-deroulant li {
        /* on place les liens du menu horizontalement */
        display: inline-block;
    }
    #menu-deroulant ul li {
        /* on enlève ce comportement pour les liens du sous menu */
        display: inherit;
        color: white;
    }
    #menu-deroulant a {
        text-decoration: none;
        display: block;
        color:white;
    }
    #menu-deroulant ul {
        position: absolute;
        /* on cache les sous menus complètement sur la gauche */
        left: -999em;
        text-align: left;
        z-index: 1000;
        line-height: 35px;
    }
    #menu-deroulant li:hover ul {
        /* Au survol des li du menu on replace les sous menus */
        left: auto;
        background-color: black;
        color: white;
    }
    .nav-responsive {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding-top: 5px;
        z-index: 2;
        background-color: black;
        position: fixed;
    }
    .nav-logos {
        display: flex;
        justify-content: center;
        list-style: none;
        color: white;
    }
    .nav-buttons-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        font-family: 'Slabo 27px', serif;
        padding: 0;
    }
    .nav-buttons {
        margin: 0 15px;
        font-size: 1.2em;
        flex-grow: 1;
    }
    .nav-buttons-links {
        text-decoration: none;
        color:white;
    }
    .logo {
        height: 3em;
    }
    .nav-buttons-social {
        color: white;
        font-size: 1.5em
    }
}
/*fin test*/




/*  --------------   *\
      Hero Image
\*   -------------- */

.header-hero-image-home {
    background: linear-gradient(rgba( 0, 0, 0, 0.3 ), rgba( 0, 0, 0, 0.3 )), url(../images/hero.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 600px;
    }

.header-hero-image-logo {
    height: 15em
}

.header-hero-image-title {
    color: white;
    font-family: 'Slabo 27px', serif;
    text-align: center;
    font-size: 4em;
    margin: 0.em;
}

.header-hero-image-page2{
    background: linear-gradient(rgba( 0, 0, 0, 0.5), rgba( 0, 0, 0, 0.5)), url(../images/hero-burger2.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

@media screen and (max-width: 767px){
    .header-hero-image-home{
        height: 450px;
    }

    .header-hero-image-logo{
        height: 12em;
    }
    .header-hero-image-title{
        font-size: 3em
    }
    .header-hero-image-title{
        justify-content: center;
/*        margin: 0.1em*/
    }
}

@media screen and (max-width: 414px) {
    .header-hero-image-logo{
        height: 5em;
    }
    .header-hero-image-title{
        font-size: 2em
    }
    .header-hero-image-home{
        height: 300px;
    }
}
/*  ----------------------  *\
     Main - Part 1 - Concept
\*   --------------------- */


h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
}

.main-content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
}

.main-content-title {
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-family: 'Slabo 27px', serif;
    color:grey;
    margin: 0.5em
}

.main-content-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
}

.main-content-section-reverse{
    flex-wrap: wrap-reverse;
}

.main-content-image {
  width: 600px;
  height: 367px;
  min-width: 320px;
}

.main-content-text{
    color: white;
    z-index: 1;
    width: 400px;
    padding: 30px;
    min-width: 320px;
}

.main-content-text h3{
    margin-bottom: 8px;
    font-size: 1.5em
}

.main-content-text-right {
  background-color: slategray;
  margin-left: -60px;
  margin-top: 50px;
}

.main-content-text-left {
  background-color: lightgray;
    color: black;
  margin-right: -60px;
  margin-top: 50px;
}

@media screen and (max-width: 1248px){
    .main-content-container{
        margin: 0 0 4em 0;
    }
    .main-content-text{
        margin: 50px -50 0 0;
        width: 60px;
    }
}

@media screen and (max-width: 1024px){
    .main-content-container{
        margin: 0 0 2em 0;
    }
    .main-content-text{
        margin: -50px 0 0 0;
        width: 60px;
    }
}

@media screen and (max-width: 768px){
    .main-content-container{
        margin: 0 0 2em 0;
    }

    .main-content-title {
        font-size: 2em;
        font-family: 'Slabo 27px', serif;
        color:grey;
        margin: 0.4em
    }
    .main-content-section {
        margin: 0.5em;
    }

    .main-content-text{
        margin: -50px 0 0 0;
        width: 60px;
        flex-grow: 0;
    }
}

@media screen and (max-width: 375px) {
    .main-content-section{
        margin: 0;
    }

    .main-content-image {
        width: 400px;
        height: 250px;
        min-width: 320px;
    }
    .main-content-text{
        padding: 20px;
    }
}
/*  ----------------------  *\
    Main - Part 2 - Instagram
\*   --------------------- */


.main-content-instagram{
    margin: 2em 1em;
}

.main-content-instagram-photo {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content-instagram-photo img {
    width: 200px;
    height: 200px;
 -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}
.main-content-instagram-photo img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.3 ;
}

.main-content-instagram-responsive{
    display: none;
}


@media screen and (max-width: 768px){
    .main-content-instagram{
        display: none;
    }
    .main-content-instagram-responsive {
        height: 250px;
        background-image: url("../images/insta13.jpg");
        background-repeat: no-repeat;
        display: flex;
        background-size: cover;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .main-content-instagram-responsive-logo1 {
        padding-left: 20px;
    }
    .main-content-instagram-responsive-logo2 {
        padding-left: 20px;
    }
    .main-content-instagram-responsive i:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 1.3 ;
    }
}

/*  --------------   *\
        Footer
\*   -------------- */

.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding:15px;
    color: white;
    margin-top: 1em;
}

.fa-chevron-up {
    color: white;
    margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
    .footer{
        margin-top: 0
    }
}



/*  -------------------   *\
     Page 2 - Nos burgers
\*   -------------------- */

@media screen and (max-width: 768px){
    .main-content-container-page2{
        margin: 0;
    }
}

@media screen and (max-width: 375px) {
    .header-hero-image-title-page2{
        margin-bottom: 1em
    }
}

/*  ---------------------------------   *\
    Page 3 - Contact - Nous Trouver
\*   --------------------------------   */

.main-content-contact {
    width: 100%;
    height: 100vh;
    background: url("../images/facade2.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.main-content-contact-image{
/*    width: 350px;*/
    height: 320px;
}


.adresse {
    min-width: 30%;
    min-height: 20vh;
    margin-right: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    background: rgba(159,164,163,0.5 );
    text-align: center;
    word-wrap: break-word;
    border: 8px double #F5A830 ;
}

.main-content-contact-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

.main-content-contact {
    width: 100%;
    height: 100vh;
    background: url("../images/facade2.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.main-content-contact-image{
    /*    width: 350px;*/
    height: 320px;
}

.adresse {
    min-width: 30%;
    min-height: 20vh;
    margin-right: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    line-height: 35px;
    background: rgba(159,164,163,0.5 );
    text-align: center;
    word-wrap: break-word;
    border: 8px double #F5A830 ;
}

.main-content-contact-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}

/*NOUS TROUVER MODE TABLETTE*/

@media screen and (max-width: 800px) {
    .main-content-contact {
        width: auto;
        height: 100vh;
        background: url("../images/facade2.jpg") left no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*border: 2px solid yellow;*/
    }

    .main-content-contact-elements {
        width: 80%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        /*border: 2px solid blue;*/
    }
    .main-content-contact-image{
        height: 20vh;
        background: rgba(159,164,163,0.5 );
        margin-top: 300px;
        border: 4px double #F5A830 ;

    }
    .adresse {
        min-width: 10%;
        min-height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 35px;
        background: rgba(159,164,163,0.5 );
        text-align: center;
        word-wrap: break-word;
        margin-left: 45px;
        margin-top: 20px;
        border: 4px double #F5A830 ;
    }

    .footer{
        margin:0;
    }
}

/*NOUS TROUVER MODE smartphone*/

@media screen and (max-width: 360px) {
    .main-content-contact {
        width: auto;
        height: 100vh;
        background: url("../images/facade2.jpg") left no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*border: 2px solid yellow;*/
    }

    .main-content-contact-elements {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        border: 2px solid blue;
    }
    .main-content-contact-image{
        display: none;
        /*    min-height: 17vh;
        background: rgba(159,164,163,0.5 );
        margin-top: 250px;
        border: 4px double #F5A830 ;*/
    }

    .adresse {
        min-width: 30%;
        min-height: 25vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 20px;
        background: rgba(159,164,163,0.5 );
        text-align: center;
        margin: 0;
        margin-top: 200px;
        /*word-wrap: break-word;*/
        border: 4px double #F5A830 ;
    }

    .footer{
        margin:0;
    }
}
